body{
    background: #f3f3f3
}
.trader-header{
    background: #ffffff;
    line-height: 0.89rem;
    text-align: center;
    font-size: 0.36rem;
    color: #333333;
}
.trader-header a{
    position: absolute;
    right: 3%;
    top: 0;
    display: block;
    font-size: 0.32rem;
    color: #fbbe3b;
}
.trade_money{
    background: #f2524a;
    padding-top: 0.3rem
}
.trad_m_add_left{
    float: left;
}
.trade_money_add{
    border-bottom: 1px solid #ff7f79;
    padding: 0 3% 0.3rem calc( 3% + 0.2rem );
}
.trad_m_add_left p{
    font-size: 0.24rem;
    color: #ffc5c2;
    line-height: 0.35rem;
}
.trad_m_add_left h2{
    font-size: 0.4rem;
    color: #fff;
    line-height: 0.4rem;
    padding-top: 0.15rem;
}
.trade_money_add a{
    font-size: 0.28rem;
    color: #e6453d;
    width: 1.6rem;
    height: 0.7rem;
    line-height: 0.7rem;
    display: block;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    float: right;
    position: relative;
    top: 0.1rem
}
.trade_money ul{
    display: flex;
    width: 94%;
    margin: 0 auto;
    text-align: center;
    padding: 0.2rem 0;
}
.trade_money ul li:first-child{
    border-left: none
}
.trade_money ul li{
    width: calc( 100%  / 3 );
    border-left: 1px solid #ff7f79
}
.trade_money ul li h2{
    font-size: 0.24rem;
    color: #ffc5c2;
    line-height: 0.34rem;
    padding-bottom: 0.12rem;
}
.trade_money ul li p{
    font-size: 0.32rem;
    color: #fff;
    line-height: 0.35rem;
}
.trade-href{
    display: flex;   
    padding: 0.3rem 3%;
    background: #fff;
}
.trade-href a{
    display: block;
}
.trade-href a p{
    font-size: 0.24rem;
    color: #999999;
}
.trade-href a img{
    max-width: .8rem;
    display: block;
    margin: 0 auto;
}
.trade-href li{
    width: 25%;
    text-align: center;
}
.trade-href.on li{
    width: 33.3%;
}
.trade-coll{
    display: flex;
    background: #fff;
    margin: 0.2rem 0;
}
.trade-coll li{
    position: relative;
    width: 50%;
    text-align: center;
    font-size: 0.28rem;
    color: #222222;
    line-height: 0.88rem;
}
.trade-coll li.on::after{
    content: '';
    display: block;
    width: 0.6rem;
    height: 0.02rem;
    bottom: 0;
    background: #e6453d;
    left: calc( 50% - 0.3rem );
    position: absolute;
}
.trade-coll li.on{
    color: #e6453d
}
.trade-collspace ul>li{
    background: #fff;
    border-radius: 0.1rem;
    box-shadow: 0 0.03rem 0.1rem rgba(136,136,136,0.13);
    margin-bottom: 0.2rem;
}
.trade-collspace a{
    display: block;
}
.trade-collspace ul>li h2{
    font-size: 0.28rem;
    color: #222222;
    line-height: 0.79rem;
    padding: 0 0.2rem;
    position: relative;
    border-bottom: 1px solid #eee
}
.trade-collspace ul>li h2 p{
    position: absolute;
    top: 0;
    right: 0.2rem;
    font-size: 0.24rem;
    color: #989898
}
.red{
    color: #e83a3a !important;
}
.green{
    color: #279d1b !important;
}
.trade-collspace ul>li dl{
    padding: 0.4rem 0;
    padding-top: 0.2rem;
    display: flex;
}
.trade-collspace ul>li dd {
    width: 25%;
    text-align: center;
}
.trade-collspace ul>li dd span{
    font-size: 0.28rem;
    color: #333333;
    line-height:0.3rem;
    padding-bottom: 0.12rem;
}
.trade-collspace ul>li dd  i{
    font-style: initial;
    font-size: 0.24rem;
    color: #999999;
    display: block;
    line-height: 0.24rem;
}
.trade-collspace ul>li ol{
    display: flex;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid  #eee
}
.trade-collspace li ol li{
    width: 25%;
    font-size: 0.24rem;
    text-align: center;
    color: #999999;
    line-height: 0.24rem;
}
.trade-collspace li ol li span{
    color: #333333
}
.trade-hide div{
    display: flex;
    padding: 0.19rem 0.2rem ;
    position: relative;
}
.trade-hide i{
    width: 1.06rem;
    height: 0.38rem;
    padding-right: 0.09rem;
    box-sizing: border-box;
    background: url('../img/img_31.png') no-repeat center ;
    background-size: 1.06rem;
    text-align: center;
    line-height: 0.38rem;
    font-size: 0.2rem;
    color: #fff;
    display: block;
    font-style:inherit;
    margin-right: 0.27rem;
    margin-top: 0.11rem;
}
.trade-hide i.on{
    background: url('../img/img_32.png') no-repeat center;
    background-size: 1.06rem;
}
.trade-hide div p{
    font-size: 0.24rem;
    color: #333333;
    line-height: 0.6rem;
}
.trade-hide div b{
    font-size: 0.24rem;
    color: #0f87d8;
    line-height: 0.56rem;
    display: block;
    border: 0.02rem solid #0f87d8;
    border-radius: 0.1rem;
    /* width: 1.2rem; */
    font-weight: normal;
    float: right;
    text-align: center;
    position: absolute;
    right: 0.2rem;
    top: 0.19rem;
    padding: 0 0.15rem;
}
.cell-center {
    display: flex;
    padding: 0 0.2rem 0.3rem ;
    position: relative;
}
.cell-center span{
    display: block;
    width: calc( ( 100% + 0.2rem ) / 3 - 0.2rem ) ;
    margin-right: 0.2rem;
    text-align: center;
    font-size: 0.24rem;
    box-sizing: border-box;
    border:0.02rem solid transparent;
    border-radius: 0.1rem;
    height: 0.6rem;
    line-height: 0.6rem;;
}
.cell-center span:last-child{
    margin-right: 0
}
.trade-collspace{
    padding-bottom: 1.2rem;
}
.cell-center span.sell{
    color: #e83a3a;
    border-color: #e83a3a;
}
.cell-center span.automac{
    color: #fc8f29;
    border-color: #fc8f29;
}
.cell-center span.modify{
    color: #f9bd43;
    border-color: #f9bd43;
}
.trade-hide{
    display: none;
}
.trade-collspace ul{
    display: none;
}
.rank-top{
    display: flex;
    background: #fff;
    padding: 0 3%;
    box-shadow: 0  3px 6px rgba(189,172,171,0.15);
    position: relative;
    z-index: 2;
}
.rank-top li{
    width: 25%;
    text-align: center;
    font-size: 0.28rem;
    color: #888888;
    line-height: 0.69rem;
}
.boxs{
    box-shadow: 0  3px 6px rgba(127,197,245,0.15);
position: relative;
z-index: 5;
}
.rank-top li.on{
    color: #e6453d;
    position: relative;
}
.rank-top li.on::after{
    content: '';
    width: 0.8rem;
    height: 0.02rem;
    background: #e6453d;
    display: block;
    position: absolute;
    bottom: 0;
    left: calc( 50% - 0.4rem )
}
.guide-top a{
    float: left;
    background: url('../img/img_18.png') no-repeat center;
    background-size: contain;
    width: 0.2rem;
    height: 0.88rem;
}
.guide-top{
    background: #fff;
    text-align: center;
    font-size: 0.36rem;
    color: #333333;
    line-height: 0.88rem;
    height: 0.88rem;
    padding: 0 3%;
    margin-bottom: 0.2rem;
}
.m0{
    margin-bottom: 0
}
.rank-list {
    padding: 0 3%;
    background: #fff;
    margin-bottom: 1.02rem;
}
.rank-list li:last-child{
    border-bottom: none;
}
.rank-list li{
    border-bottom: 1px solid #eee;
    line-height: 0.6rem;
    padding: 0.2rem 0;
    display: flex;
    font-size: 0.28rem;
    color: #333333;
    position: relative;
}
.rank-list li a{
    color: #333333;
}
.rank-list a{
    display: block;
    padding-right: 0.47rem;
    background: url('../img/img_36.png') no-repeat right center;
    background-size: 0.12rem;
    width: 100%;
}
.rank-list i{
    font-size:0.36rem;
    color: #999999;
    width: 0.58rem;
    text-align: center;
    display: inline-block
}
.rank-list img{
    max-width: 0.6rem;
    margin-right: 0.2rem;
    overflow: hidden;
    position: relative;
    border-radius: 100%
}
.rank-list p{
    display: inline-block;
    color: #999999;
    font-size: 0.24rem;
    float: right;
}
.rank-list p span{
    color: #e83a3a
}
.rank-list i.one{
    color: #d63834
}
.rank-list i.two{
    color: #0f87d8
}
.rank-list i.three{
    color: #f6962f
}
.rank-info-top li{
width: 50%;
}
.rank-info-top{
    box-shadow: none
}
.rank-info-header{
    background: #fff;
    display: flex;
    padding: 0.4rem 3% 0.9rem;
    margin-bottom: 1.73rem;
    position: relative;
    z-index: 2;
}
.rank-info-header img{
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
    overflow: hidden;
    border-radius: 100%;
    display: block;
}
.rank-info-header p{
    font-size: 0.28rem;
    color: #333333;
    line-height: 0.46rem;
}
.rank-info-header p span{
    display: block;
    font-size: 0.24rem;
    color: #999999;
}
.rank-info-header a{
    float: right;
    width: 0.36rem;
    height: 0.36rem;
    display: block;
    position: absolute;
    background: url('../img/img_37.png') no-repeat center;
    background-size: contain;
    right: 3%;
    top: 0.6rem;
}
.rank-info-header a.on{
    background: url('../img/img_42.png') no-repeat center;
    background-size: 0.36rem;
}
.rank-info-poa{
    width: 7.28rem;
    padding: 0.04rem 0.09rem 0.14rem;
    margin: 0 auto;
    background: url('../img//img_38.png') no-repeat center;
    background-size: contain;
    height: 2.21rem;
    margin-top: calc( -0.5rem  - 1.75rem );
    z-index: 3;
    position: relative;
}
.rank-info-poa div{
    padding: 0.26rem 0.3rem 0.37rem;
}
.rank-info-poa  h2{
    font-size: 0.36rem;
    color: #fff
}
.rank-info-poa  h2 span{
    font-size: 0.28rem;
    padding-left: 0.5rem
}
.rank-info-poa ul{
    display: flex;
    padding-top: 0.5rem
}
.rank-info-poa ul li{
    width: 33.33%;
    font-size: 0.28rem;
    color: #fff;
    line-height: 0.34rem;;
}
.rank-info-poa ul li:last-child{
    text-align: right;
}
.rank-info-poa ul li:nth-child(2){
    text-align: center;
}
.rank-info-list li{
    width: 7.4rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0.61rem 0.55rem 0.23rem 0.61rem ;
    background: url('../img//img_39.png') no-repeat center;
    background-size: 100%;
    height: 4.85rem;
    margin-top: -0rem;
}
.rank-info-list li:first-child{
    margin-top: 0.2rem;
}
.rank_info_list_top{
    display: flex;
    position: relative;
}
.rank_info_list_top span{
    width: 0.82rem;
    height: 0.58rem;
    background: url('../img/img_40.png') no-repeat center;
    background-size: 100%;
    padding-right: 0.14rem;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.26rem;
    text-align: center;
    display: block;
    line-height: 0.58rem;
    margin-right: 0.19rem;
    position: relative;
    top: 0.05rem;
}
.rank_info_list_top span.on{
    background: url('../img/img_41.png') no-repeat center;
    background-size: 100%;
}
.rank_info_list_top div h2{
    font-size: 0.32rem;
    color: #333333;
    line-height: 0.35rem;
}
.rank_info_list_top div p{
    font-size: 0.24rem;
    color: #999999;
    line-height: 0.35rem;
}
.rank_info_list_top a{
    position: absolute;
    display: block;
    width: 1.2rem;
    height: 0.6rem;
    box-sizing: border-box;
    border:0.02rem solid #0f87d8;
    text-align: center;
    line-height: 0.6rem;
    top: 0.05rem;
    right: 0;
    color: #0f87d8;
    border-radius: 0.1rem;
    font-size: 0.28rem;
}
.rank_info_list_top i{
    font-style: normal;
    font-size: 0.28rem;
    line-height: 0.58rem;
    padding-left: 0.4rem;
    display: block;
    text-align: left
}
.rank_info_list_top i b{
    font-weight: 100;
    color: #e83a3a ;
    font-size: 0.28rem;
    line-height: 0.58rem;
    display: inline-block;
}
.rank_info_bottom p{
    font-size: 0.28rem;
    color: #999999;
    line-height: 0.55rem;
    position: relative;
}
.rank_info_bottom div p:first-child{
    float: left;
}
.rank_info_bottom div p:last-child{
    float: right;
}
.rank_info_bottom div span{
    display: inline-block;
    width: 1.55rem;
    text-align: right;
    color: #333333;
}
.rank_info_bottom>p{
    width: 100%;
}
.rank_info_bottom>p span{
    float: right; 
    color: #333333;
}
.rank_info_bottom{
    padding-top: 0.8rem
}
.subdy{
    background: #fff;
    padding: 0 3%;
    border-bottom: 1px solid #eee;
    font-size: 0.28rem;color: #888888;
    line-height: 0.89rem;
}
.expert{
    padding: 0 3%;
    background: #fff;
    font-size: 0.28rem;
    line-height: 0.89rem;;
    color: #888888;
    border-bottom: 1px solid #eee;
    position: relative;
}
.expert p{
    float: left;
}
.opacity{
    opacity: 0;
    width: 0.95rem;
}
.expert .month{
    display: inline-block;
    float: right;
    padding-right: 0.47rem
}
.monthlv{
    position: absolute;
    left: 53%;
    top: 0;
    width: 50%;
    margin-left: -25%;
    text-align: center;
    padding-left: 0.3rem;
    box-sizing: border-box
}
.rank-list p.list-monrh{
    float: none;
    width: 50%;
    left: 53%;
    top: 0.2rem;
    position: absolute;
    margin-left: -25%;
    text-align: center;
    color: #e83a3a;
    padding-left: 0.3rem;
    box-sizing: border-box
}
.trade-hold-info{
    margin-top:0.2rem;
    background:#fff url(../img/tra02.jpg) no-repeat center 2.46rem;
    background-size:100% auto;
    border-radius:5px;
    position: relative;
    text-align: center;
}
.trade-hold-info h3{
    font-size:0.32rem;
    color:#333;
    line-height:0.45rem;
    padding-top: 0.33rem;
}
.trade-hold-info p{
    font-size:0.24rem;
    color:#999;
    line-height:0.37rem;
    margin-bottom: 0.12rem;
}
.trade-hold-info h2{
    font-size:0.4rem;
    line-height:0.51rem;
    font-weight: bold;
}
.trade-hold-info h4{
    font-weight: normal;
    font-size:0.26rem;
    color:#999;
    line-height:0.35rem;
}
.trade-hold-info h4 .bb{
    color:#333;
}
.trade-hold-info dl{
    width:88%;
    margin:0 auto;
    padding: 0.98rem 0 0.24rem;
    text-align: left;
}
.trade-hold-info dd{
    width:100%;
    font-size:0.28rem;
    color:#999;
    line-height:0.57rem;
}
.trade-hold-info dd .fonts{
    color:#333;
}
.trade-hold-info .type{
    width:1.06rem;
    height:1.06rem;
    position: absolute;
    top:0.72rem;
    right:0.4rem;
    background-size:100% auto !important;
}
.trade-hold-info .type.process{
    background:url(../img/tra04.png) no-repeat center;
}
.trade-hold-info .type.end{
    background:url(../img/tra03.png) no-repeat center;
}
.shade{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}
.shade-work{
    width: 80%;
    box-sizing: border-box;
    margin:  0 auto;
    background: #fff;
    position: relative;
    top: 40%;
    border-radius: 0.2rem;
    
}
.shade-work p{
    padding: 0.4rem ;
    padding-top: 0rem;
    font-size: 0.3rem;
    padding-left: 0.6rem;
    padding-bottom: 0;
    text-align: center;
}
.shade-work  span{
    font-size: 0.24rem;
    line-height: 0.3rem;
    display: block;
    text-align: center;
    margin: 0.2rem 0;
}
.shade-work  div{
    display: flex;
    border-top: 1px solid #ddd;
    margin-top: 0.2rem;
}

.shade-work button{
    width: 50%;
    font-size: 0.28rem;
    border:none;
    background: none;
    display: block;
    border-right: 1px solid #ddd;
    line-height: 0.8rem;
}
.shade-work button:last-child{
    color: #f2524a;
    border-right: none
}
.shade-work p input{
    background: none;
    padding:  0.1rem;
    box-sizing: border-box;
    height: 0.6rem;
    line-height: 0.6rem;
    display: inline-block;
    border:none;
    border-bottom: 1px solid #ddd;
    font-size: 0.25rem;color: #000
}
.shade-work p i{
    font-style: normal;
    font-size: 0.28rem;
    display: inline-block;
    padding: 0 0 0.1rem 0;
    padding-right: 0.1rem;
}
.hiddesd{
    font-size: 0.28rem;
}
.hide{
    display: none;
}
.shade-work>i{
    font-style: normal;
    font-size: 0.36rem;
    line-height: .4rem;
    text-align: center;
    display: block;
    padding: 0.4rem ;
    font-weight: bold;
    color: #333;
    padding-bottom: 0.15rem;
}