@charset "utf-8";
body{background-image:  url(../image/down/beijing.png);background-repeat: no-repeat;background-size: 100% 100%;height: 100vh;}

.hd-donw{overflow: hidden;}
.hd-donw .mui-content{background: transparent;}
.hd-donw .mui-content .mui-col-sm-12{width: 100%;text-align: center;margin:45% auto 50%;}
.hd-donw .mui-content .mui-col-sm-12 p{font-size: 25px;margin-top: 10%;}
.hd-donw .mui-content .mui-col-sm-6{width: 50%;float: left;}
.hd-donw .mui-content .mui-col-sm-6 .and-lef{width: 80%;float: right;margin-right: 7%;}
.hd-donw .mui-content .mui-col-sm-6 .and-lef a{text-align: center;display: block;border-radius:20px;color: #FFFFFF; text-decoration: none;height: 39px;line-height: 39px; background-color: #ee5351;}
.hd-donw .mui-content .mui-col-sm-6 .and-lef a div{margin: 0 auto;overflow: hidden;width: 65%;text-align: center;}
.hd-donw .mui-content .mui-col-sm-6 .and-lef a div span{font-size: 16px;display: block;float: right;}
.hd-donw .mui-content .mui-col-sm-6 .and-lef a div .and-img{margin-top: 2px;float: left;}
.hd-donw .mui-content .mui-col-sm-6 .ios-rig{width: 80%;float: left;margin-left: 7%;}
.hd-donw .mui-content .mui-col-sm-6 .ios-rig a{text-align: center;display: block;border-radius:20px;color: #FFFFFF; text-decoration: none;height: 39px;line-height: 39px; background-color: #ee5351;}
.hd-donw .mui-content .mui-col-sm-6 .ios-rig a div{margin: 0 auto;overflow: hidden;width: 65%;text-align: center;}
.hd-donw .mui-content .mui-col-sm-6 .ios-rig a div span{font-size: 16px;display: block;float: right;}
.hd-donw .mui-content .mui-col-sm-6 .ios-rig a div .and-img{margin-top: 2px;float: left;}