.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-12{display: none;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-12 p{text-align: center;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14{margin-top: 1%;overflow: hidden;border-bottom: 1px solid #ddd;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14 ul{list-style: none;overflow: hidden;margin-left: 3%;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14 ul li{overflow: hidden;margin: 1% auto;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14 ul li .colmd-2{float: left;width: 16.666667%;text-align: left;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14 ul li .colmd-2 p{color: #747474;font-size: 14px;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14 ul li .colmd-2 .hd-mr{transition: all .3s ease-in-out; width: 40px;height: 24px;line-height: 24px;background-color: #000000; text-align: center; display: inline-block; text-decoration: none;color: #fff;border-radius: 4px;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14 ul li .colmd-2 .hd-mr:hover{background-color: #404040;}

.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14 ul li .hd-ci2 a{transition: all .3s ease-in-out;  text-decoration: none;font-size: 14px; width: 70px;height: 26px;line-height: 26px;border-radius: 3px;display: inline-block;text-align: center;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14 ul li .hd-ci2 a:first-child{background-color:#fc5146;color: #FFFFFF;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14 ul li .hd-ci2 a:first-child:hover{background-color: #dd5249;color: #FFFFFF;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14 ul li .hd-ci2 .atto{color: #888;background-color:transparent;border:1px solid #ddd;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14 ul li .hd-ci2 .atto:hover{color: #555;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14 ul li .hd-wid{width: 14%;}
.con-hd-cjmn .cl-hd-ki2  .row .cl-ki2-right .kit-14 ul li .hd-wd{width: 19%;}

.row .hd-page-clas{margin:20px 34px;float: right;}
.con-hd-cjmn .cl-hd-ki2 .row .hd-page-clas .hd-main-body ul{overflow: hidden;list-style: none;}
.row .hd-page-clas .hd-main-body ul li{transition: all .3s ease-in-out; color: #fc5146;margin-left: 5px;float: left;border: 1px solid #DDDDDD;font-size: 14px;line-height: 36px;padding: 0 15px;cursor: pointer;text-align: center;}
.row .hd-page-clas .hd-main-body ul .active{color:#fff;background: #FC5146;}

.gab{display:none;}
.zh{position: fixed;height: 100%;top: 0;left: 0;right: 0;bottom: 0;z-index: 993; background-color: rgba(0,0,0,0.5);}
.ner{transform: translateY(-50%) translateX(-50%);left:50%;top:50%;position:fixed; height: 200px;background-color: #FFFFFF;z-index: 995;border-radius:3px;text-align:center;width: 400px;}
.ner .ner-cen{margin: 0 auto;border-radius:4px;width: 300px;}
.ner .ner-cen input{width: 100%;border: 1px solid #ddd;padding-left: 10px;letter-spacing: 1px;font-size: 12px;border-radius: 5px;height: 35px;margin-top: 20%;}
.ner .ner-cen a{transition:all .3s ease-in-out; background-color:#ed5551;color:#fff;display:block;text-decoration: none;margin-top:10%;height:35px;border-radius:5px;line-height:35px;letter-spacing:1px;}
.ner .ner-cen a:hover{background-color:#de514d;}
.ner .ner-cen span{position:absolute;top:5px;right:5px;cursor: pointer;}

.net{transform: translateY(-50%) translateX(-50%); left: 50%;top: 50%; position: fixed;height: 300px; background-color: #FFFFFF; z-index: 9997; border-radius: 3px; text-align: center;}
.net-cen{width:500px;}
.obj{position:absolute;right:10px;top:10px;cursor: pointer;}

.dnt{border-radius: 5px;transform: translateY(-50%) translateX(-50%);left:50%;top:50%;position:fixed;width: 400px;height: 150px;background-color: #FFFFFF;z-index: 995;text-align: center;}
.dnt h2{text-align: center;letter-spacing: 1px;font-size: 18px;margin-top: 7%;}
.dnt a{transition: all .3s ease-in-out; width: 80px;height: 30px;display:inline-block;border-radius: 5px;font-size: 16px;line-height: 30px;margin: 5% 5%;}
.dnt .qer{background-color: #41c641;text-align: center;text-decoration: none;color: #FFFFFF;}
.dnt .xer{background-color: #fc5146;color: #FFFFFF;text-decoration: none;}
.dnt .qer:hover{background-color:#3cba3c;}
.dnt .xer:hover{background-color:#ee473d;}
.t1{display: none;}


.t2{display: none;}
.dnt .qer2{background-color: #41c641;text-align: center;text-decoration: none;color: #FFFFFF;}
.dnt .xer2{background-color: #fc5146;color: #FFFFFF;text-decoration: none;}
