.kit-settings{margin-top: 5%;line-height: 35px;}
.input-wrapper{float: left;height: 35px;line-height: 30px;display: inline-block;margin-right: 60px;position: relative;}
.kit-settings .colred{color: #FC5146;}
.input-wrapper i{transition: all .3s ease-in-out; cursor: pointer; position: absolute;font-size: 24px;height: 35px;width: 22px; text-align: center;line-height: 35px;background-color: #fbfbfb;color: #999;}
.input-wrapper .input-minus{left: 0;top: 0;line-height: 32px;}
.input-wrapper .input-minus:hover{color: #FC5146;}
.input-wrapper input{margin: 0 22px;border: none; vertical-align: middle;font-size: 14px;width: 75px;height: 35px;line-height: 30px;text-align: center;color: #FC5146;}
.input-wrapper .input-plus{right: 0;top: 0;}
.input-wrapper .input-plus:hover{color: #FC5146;}

.s2{margin-top: 5%;}
.s2 .collv{color: #00A104;}
.s2 .input-minus:hover{color: #00A100;}
.s2 .input-plus:hover{color: #00A104;}
.s2 .input-wrapper input{color: #00A104;}
.kit-ses3{margin-top: 8%;}
#shurugb{margin-top: 9.5%;color: #555;font-size:14px;}
#ospan{color:#4b7abd;}
#gb2{display:inline-block;width:20%;}
.kit-ses3 .auto-se3{color:#2dbaff;margin-left: 36%;cursor: pointer;}
.kit-xz-top3-right2{float: right;width: 80.5%;display: block;}
.kit-xz-top3-right2 .kit-selector{width: 100%;overflow: hidden;}
.kit-xz-top3-right2 .kit-selector li{margin-top: 4%;margin-left: 2%;padding: 5px 10px;margin-right: 15px;float: left;line-height: 30px;text-align: center;font-size: 16px;border: 1px solid #eee;background: #FFFFFF;border-radius: 4px;cursor: pointer;overflow: hidden;transition: all .3s;}
.kit-xz-top3-right2 .kit-selector .active{color: #FC5146;border-color: #FC5146;margin-right:0;}
.kit-xz-top3-right2 .kit-selector .zjlyl{border: 0;margin-top: 8%; margin-left: 2%;}
.kit-xz-top3-right2 .kit-selector .zjlyl p{color:#ff0000;}
.kit-xz-top3-right2 .kit-selector .active p{color: #FC5146;border-color: #FC5146;}
.kit-xz-top3-right2 .kit-selector li p{margin: 0;}

.kit-xz-top3-right2 .kit-sele{width: 80%;overflow: hidden;display: none;}
.kit-xz-top3-right2 .kit-sele .kit-ele-lef{float: left;margin-left: 2%;}
.kit-xz-top3-right2 .kit-sele .kit-ele-lef input{width: 100px;height: 30px;border: 1px solid #EEEEEE;text-align: center;line-height: 30px;font-size: 16px;color: #FC5146;overflow: hidden;margin-right: 10px;border-radius: 4px;}
.kit-xz-top3-right2 .kit-sele .kit-ele-rig{float: left;margin-top: 5px}

.xz{display: block;}
.xz2{display: none;}
.ki{display: block;}
.ki2r{display: none;}
#reder{color: #fc5146;border: 1px solid #fc5146;}

#bfs{color:#ff0000;padding-left:10px;margin-top:5%;letter-spacing: 2px;font-size: 14px}
#bfs span{color:#ff0000;margin:0;border:none;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3  .to-rig{display:block;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3  .to-rig .liny{border:1px solid #fc5146;}

.con-hd-cjmn .cl-hd-ki2 .row .kit-12 p{text-align: center; font-size: 24px;margin: 30% 0;color: #808080;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-13{display: none;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-13 p{text-align: center; font-size: 24px;margin: 30% 0;color: #808080;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul li{overflow: hidden;padding: 20px 0;line-height: 27px;color: #333333;font-size: 14px;position: relative;border-bottom: 1px solid #DDDDDD;margin-bottom: 0;background: #FFFFFF;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul li .hd-row{overflow: hidden;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul li .hd-row div{float: left;width: 10%;text-align: left;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul li .hd-row div .status-show{text-align: center;font-size: 18px;width: 106;height: 36px;margin: 0 auto;line-height: 36px;letter-spacing: 2px; border-radius: 6px;cursor: default;color: #848484;}

.con-hd-cjmn .cl-hd-ki2 .row .kit-12 p{text-align: center; font-size: 24px;margin: 30% 0;color: #808080;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-12{display: none;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul{list-style: none;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul li{overflow: hidden;padding: 20px 0;line-height: 27px;color: #333333;font-size: 14px;position: relative;border-bottom: 1px solid #DDDDDD;margin-bottom: 0;background: #FFFFFF;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul li .hd-row{overflow: hidden;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul li .hd-row div{float: left;width: 9%;text-align: left;margin-top: 1%;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul li .hd-row div .status-show{text-align: center;font-size: 18px;width: 106;height: 36px;margin: 0 auto;line-height: 36px;letter-spacing: 2px; border-radius: 6px;cursor: default;color: #848484;}


.con-hd-cjmn .cl-hd-ki2 .row .kit-13{display: none;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-13 p{text-align: center; font-size: 24px;margin: 30% 0;color: #808080;}
.con-hd-cjmn .cl-hd-ki3 .row .trand-hd-list{width: 100%;overflow: hidden;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy{width: 100%;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li{position:relative;overflow:hidden;height:91px;border-bottom:1px solid #ddd;margin-top: 1%;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .lis-pau{padding-left: 35px;width: 13%; float: left;text-align: left;line-height: 27px;padding: 20px 0 0 25px;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .lis-pau span{color: #333333;display: block;font-size: 16px;overflow: hidden;white-space: normal;text-overflow: ellipsis;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .lis-pau .value{color: #808080;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .lis-pau .font-blue{color: #00a104 !important;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .pu2{width: 13%;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .pu3{width: 13%;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .pu4{width: 20%;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .pu5{width: 18%;float: right;margin-top: 1.5%;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .pu5 a{text-decoration: none; display: block;width: 100px;height: 35px;text-align: center;line-height: 35px;color: #FC5146;background: #fff;border-radius: 6px;margin: 0 auto;border: 1px solid #FC5146;}
.con-hd-cjmn .cl-hd-ki2 .row .hd-page-clas{margin:20px 34px;float: right;}
.con-hd-cjmn .cl-hd-ki2 .row .hd-page-clas .hd-main-body ul{overflow: hidden;list-style: none;}
.con-hd-cjmn .cl-hd-ki2 .row .hd-page-clas .hd-main-body ul li{transition: all .3s ease-in-out; color: #fc5146;margin-left: 5px;float: left;border: 1px solid #DDDDDD;font-size: 14px;line-height: 36px;padding: 0 15px;cursor: pointer;text-align: center;}
.con-hd-cjmn .cl-hd-ki2 .row .hd-page-clas .hd-main-body ul li:hover{background: #F2F2F2;}
.con-hd-cjmn .cl-hd-ki2 .row .hd-page-clas .hd-main-body ul .active{color:#fff;background: #FC5146;}

.con-hd-cjmn .cl-hd-ki2 .row .kit-12 p{text-align: center; font-size: 24px;margin: 30% 0;color: #808080;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-12{display: none;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul{list-style: none;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul li{overflow: hidden;padding: 20px 0;line-height: 27px;color: #333333;font-size: 14px;position: relative;border-bottom: 1px solid #DDDDDD;margin-bottom: 0;background: #FFFFFF;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul li .hd-row{overflow: hidden;padding-bottom: 20px;margin: 0 10px 0 10px;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul li .hd-row div{float: left;width: 9%;text-align: left;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul li .hd-row div span{text-align: center; display: block;overflow: hidden;white-space: normal;text-overflow: ellipsis;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-14 ul li .hd-row div .status-show{text-align: center;font-size: 18px;width: 106;height: 36px;margin: 0 auto;line-height: 36px;letter-spacing: 2px; border-radius: 6px;cursor: default;color: #848484;}


.con-hd-cjmn .cl-hd-ki2 .row .kit-13{display: none;}
.con-hd-cjmn .cl-hd-ki2 .row .kit-13 p{text-align: center; font-size: 24px;margin: 30% 0;color: #808080;}
.con-hd-cjmn .cl-hd-ki3 .row .trand-hd-list{width: 100%;overflow: hidden;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy{width: 100%;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li{position:relative;overflow:hidden;height:91px;border-bottom:1px solid #ddd;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .lis-pau{padding-left: 35px;width: 13%; float: left;text-align: left;line-height: 27px;padding: 20px 0 0 25px;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .lis-pau span{color: #333333;display: block;font-size: 16px;overflow: hidden;white-space: normal;text-overflow: ellipsis;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .lis-pau .value{color: #808080;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .lis-pau .font-blue{color: #00a104 !important;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .pu2{width: 13%;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .pu3{width: 13%;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .pu4{width: 20%;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .pu5{width: 18%;float: right;margin-top: 1.5%;}
.con-hd-cjmn .cl-hd-ki2 .row .list-tpy li .pu5 a{text-decoration: none; display: block;width: 100px;height: 35px;text-align: center;line-height: 35px;color: #FC5146;background: #fff;border-radius: 6px;margin: 0 auto;border: 1px solid #FC5146;}
.con-hd-cjmn .cl-hd-ki2 .row .hd-page-clas{margin:20px 34px;float: right;}
.con-hd-cjmn .cl-hd-ki2 .row .hd-page-clas .hd-main-body ul{overflow: hidden;list-style: none;}
.con-hd-cjmn .cl-hd-ki2 .row .hd-page-clas .hd-main-body ul li{transition: all .3s ease-in-out; color: #fc5146;margin-left: 5px;float: left;border: 1px solid #DDDDDD;font-size: 14px;line-height: 36px;padding: 0 15px;cursor: pointer;text-align: center;}
.con-hd-cjmn .cl-hd-ki2 .row .hd-page-clas .hd-main-body ul li:hover{background: #F2F2F2;}
.con-hd-cjmn .cl-hd-ki2 .row .hd-page-clas .hd-main-body ul .active{color:#fff;background: #FC5146;}




.hd-body{height: 1610px;width: 100%;background: rgba(0,0,0,0.5);position: absolute;z-index: 992;top: 0;display: none;}
.hd-body-hl{display: none; transform: translateY(-50%) translateX(-50%);left:50%;top:50%;position:fixed;width: 700px;height: 600px;background: #FFFFFF;z-index: 999;}
.hd-body-hl h2{margin-bottom: 0; position: relative; text-align: center;border-bottom: 1px solid #DDDDDD;font-size: 18px;height: 50px;line-height: 50px;margin-top: 0;}
.hd-body-hl h2 .hd-h2-gub{float: right;position: absolute;right: 20px;cursor: pointer;}
.hd-body-hl .hd-olk{width: 90%;margin: 0 auto;background-color: #F2F2F2;height: 30px;line-height: 30px;}
.hd-body-hl .ui-olk1{margin-top: 3%;}
.hd-body-hl .hd-olk .hd-olk-1 p{width: 49%;float: left;color: #2D93CA;margin-left: 1%;}
.hd-body-hl .hd-olk .hd-olk-1 p span{margin-left: 2%;}
.hd-body-hl .hd-olk2{overflow: hidden;width: 90%;margin: 0 auto;}
.hd-body-hl .hd-olk2 .hd-olk-1 h2{height: 30px;line-height: 30px; font-size: 14px;text-align: left;border-bottom: 0;color: #2D93CA;margin-left: 1%;}
.hd-body-hl .hd-olk2 .hd-olk-2{width: 100%;height:auto;overflow: hidden;background-color: #F2F2F2;}
.hd-body-hl .hd-olk2 .hd-olk-2 .col-md-4{font-size: 12px;height: 40px;line-height: 40px;;}
.hd-body-hl .hd-olk2 .hd-olk-2 .col-md-4 span{margin-left: 4%;}
.hd-body-hl .hd-olk2 .hd-olk-2 .col-md-4 .col-lvue{color: #00A100;}
.hd-body-hl .hd-olk-3{overflow: hidden;width: 90%;margin: 0 auto;} 
.hd-body-hl .hd-olk-3 h2{height: 35px;line-height: 35px; font-size: 14px;text-align: left;border-bottom: 0;color: #2D93CA;margin-left: 1%;}
.hd-body-hl .hd-olk-3 .hd-olk{width: 100%;}
.hd-body-hl .hd-olk-3 .hd-olk p{width: 49%;float: left;font-size: 12px;margin-left: 1%;}
.hd-body-hl .hd-olk-4{overflow: hidden;width: 90%;margin: 0 auto;} 
.hd-body-hl .hd-olk-4 h2{height: 30px;line-height: 30px; font-size: 14px;text-align: left;border-bottom: 0;color: #2D93CA;margin-left: 1%;}
.hd-body-hl .hd-olk-4 .hd-olk{width: 100%;}
.hd-body-hl .hd-olk-4 .hd-olk p{width: 49%;float: left;font-size: 12px;margin-left: 1%;}














