@charset "utf-8";
*{margin: 0;padding: 0;}
html,body{height: 100%;}
a{color: #000;text-decoration: none;}

footer{background-color:#555;}
footer a{text-decoration: none;}
.footer-nav dt a{color:#fff;text-decoration: none;}
.footer-nav dd a{color:#ccc;text-decoration: none;transition:all .3s ease-in-out;}
.footer-nav dd a:hover{color:#fff;}
.footer-top{padding: 75px 0 50px;}
.w1200 .f-cb{width: 1200px;margin: 0 auto 0;}
.footer-left{width: 291px; height: 180px; border-right: 1px solid #fff;position: relative;}
.footer-left .logo{display: block; width: 193px;height: 40px;}
.footer-left .logo img{display:block;}
.footer-left .phone{font-size: 32px;color: #ffffff;font-family: 'Arial';line-height: 1;padding-left: 38px;background: url("/public/all/image/shouye/footer_phone1.png") no-repeat left center;margin: 22px 0 0;}
.footer-nav{margin-left: 96px;}
.footer-down{width: 250px;}
.footer-bot{background: #555; height: 60px; line-height: 60px;font-size: 14px;color: #ccc;}
.fl{float:left;display:inline;margin-bottom:0;}
.footer-nav dl{float:left;margin-right:70px;margin-bottom:0;}
.f-cb{zoom:1;}
.footer-down .box{text-align:center;width:110px;}
.fr{float: right;display:inline;}
.f-cb:after{display: block; height: 0;clear: both;visibility: hidden; overflow: hidden;content: ".";}
.footer-bot{background: #333;height: 60px; line-height: 60px;font-size: 14px;color: #ccc;}
.w1200{width: 1200px;margin: 0 auto 0;}
.footer-nav dt{font-size: 14px; color: #ffffff;line-height: 24px;margin-bottom: 26px;}
.footer-nav dd{font-size: 14px;color: #ccc;line-height: 24px;margin-bottom: 8px;text-align: center;}
.footer-down .title{font-size: 14px;color: #ffffff;line-height: 24px;margin-bottom: 36px;}
.footer-down .box p{font-size: 12px;color: #ccc; line-height: 22px; margin-top: 6px;}