.ui-page-login,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;letter-spacing: 1px;}
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;letter-spacing: 1px;}
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;letter-spacing: 1px;}
}
:-ms-input-placeholder { /* Internet Explorer 10+ */color:    #fff;letter-spacing: 1px;}

input{outline:none;}


.mui-coent{height: 100%;background: url(../image/web-inbanner.png);background-size:100% 100%;background-repeat:no-repeat;overflow: hidden;}
.mui-bar{background:transparent ;color: #FFFFFF;}
.mui-bar-nav{box-shadow: none;}
.mui-coent .mui-col-sm-12{overflow: hidden;padding: 0 22px;margin-top:30%;}
.mui-coent .mui-s12{margin-top: 10%;}
.mui-coent .mui-col-sm-12 .mui-i1{ letter-spacing: 1px; width: 40px;height: 20px;float: left;line-height: 24px;text-align: left;overflow: hidden;color: #FFFFFF;}
.mui-coent .mui-col-sm-12 .mui-i1 img{height: 100%;}
.mui-coent .mui-col-sm-12 .mui2{width: 50%;padding: 0;text-align: left;margin-left: 10px;}
.mui-coent .mui-col-sm-12 .mui-row{border-bottom: 1px solid #cfcfcf;margin-bottom: 10%;}
.mui-coent .mui-col-sm-12 .mui-row i{display: inline-block;height: 51px;line-height: 60px; float: left;margin-right: 5%;}
.mui-coent .mui-col-sm-12 .mui-row i img{width: 15px;}
.mui-coent .mui-col-sm-12 .mui-row input{color: #FFFFFF; width: 80%;float: left; border: none;background-color: transparent;margin-bottom: 0;height: 50px;text-align: left;padding-left: 0;font-size:14px;}
.mui-coent .mui-col-sm-12 .mui-hd i{margin-right: 4%;}
.mui-coent .mui-col-sm-12 .mui-hd i img{width: 18px;}
.mui-coent .mui-col-sm-12 .mui-hd .huoq{letter-spacing: 1px;line-height: 51px;color: #FFFFFF;display: inline-block;width: 100px;text-align: center;font-size: 14px;}
.mui-coent .mui-col-sm-12 .mui-hd .yzm{width:180px;}
.mui-coent .mui-content-padded{padding: 0 12px};
.mui-coent .mui-content-padded .mui-btn-blue{width: 100%;}
.mui-btn-blue, .mui-btn-primary, input[type=submit]{width: 100%;background-color: #ee6262;border: 0;border-radius: 5px;}
.mui-btn-blue.mui-active:enabled, .mui-btn-blue:enabled:active, .mui-btn-primary.mui-active:enabled, .mui-btn-primary:enabled:active, input[type=submit].mui-active:enabled, input[type=submit]:enabled:active{background-color: #d14053;border:#d14053;}
.mui-btn, button, input[type=button], input[type=reset], input[type=submit]{padding: 10px 12px;outline:none}
.mui-coent .mui-tol{margin-top: 10%;text-align: center;letter-spacing: 1px;}
.mui-coent .mui-tol a{color: #3181d7;}
