@charset "utf-8";
*{margin: 0;padding: 0;font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif !important;}
html,body{height: 100%;}
a{text-decoration: none;color: #000;}

header{background-color: #333;color: #eee;overflow: hidden;}
header .container .row{margin-left:0;margin-right:0;}
header .container .row .col-md-6{padding:0;}
header .container .row .col-md-6 p{margin: 10px;letter-spacing: 1px;font-size: 14px;margin-right: 0;margin-left:0;}
header .container .row .col-md-6 p span{margin-right: 4%;}
header .m12{background-color: #ffffff;overflow: hidden;padding:0;}
header .container .rw2 .col-md-4{margin: 2% 0;padding:0;}
header .container .rw2 .col-md-4 img{cursor: pointer;}
header .container .rw2 .col-md-8{overflow: hidden;margin: 2% 0;padding-right:0;}
header .container .rw2 .col-md-8 .conen a{font-size: 16px;color: #333;margin: 0 3%;text-decoration: none;}
header .container .rw2 .col-md-8 .conen{overflow: hidden;margin-top: 10px;}
header .container .rw2 .col-md-8  span{display: inline-block;width: 1px;color: #d75854;font-size: 18px;}
header .container .rw2 .col-md-8 .conen .dl{color: #d75854;}
header .container .rw2 .col-md-8 .conen .zuy{color: #d75854;margin-right: 0;}
header .container .rw2 .col-md-8 .conen a{transition:all .3s ease-in-out;}
header .container .rw2 .col-md-8 .conen a:hover{color: red;border-bottom: 1px solid red;}
.oimg{width:100%;}
.siot{margin-left: 20px;font-size:12px;}
.active2{border-bottom: 3px solid #ff6c63;padding-bottom: 10px;}
.active3{display: block;width: 30px; height: 1px;border-bottom: 3px solid #ff6c63;margin: 0 auto;margin-top: 15px;}
.ic-ito{line-height:600px;font-size:50px;}
.item img{width:100%;}
.item-hd{position: absolute; transform: translateY(-50%) translateX(-50%);left: 50%;top: 50%;width:50%;height:50%;z-index:9991;margin:0 auto;text-align:center;}
.item-hd h2{font-size:60px;color:#654b6e;letter-spacing: 2px;}
.item-hd p{font-size:18px;color:#654b6e;letter-spacing: 1px;margin: 3% 0;}
.item-hd a{text-decoration: none;display: inline-block;width:140px;height:40px;border:1px solid #654b6e;margin: 0 3%;line-height:40px;color:#654b6e;letter-spacing: 1px;}
.item-hd .it-aer{background-color:#654b6e;border:0;color:#fff;}

.item-bd{position: absolute; transform: translateY(-50%) translateX(-50%);left: 50%;top: 50%;width:50%;height:50%;z-index:9991;margin:0 auto;text-align:center;}
.item-bd h2{font-size:60px;color:#b25550;letter-spacing: 2px;}
.item-bd p{font-size:18px;color:#b25550;letter-spacing: 1px;margin: 3% 0;}
.item-bd a{text-decoration: none;display: inline-block;width:140px;height:40px;border:1px solid #b25550;margin: 0 3%;line-height:40px;color:#b25550;letter-spacing: 1px;}
.item-bd .it-aer{background-color:#b25550;border:0;color:#fff;}

.item-hk{position: absolute; transform: translateY(-50%) translateX(-50%);left: 50%;top: 50%;width:50%;height:50%;z-index:9991;margin:0 auto;text-align:center;}
.item-hk h2{font-size:60px;color:#506f9e;letter-spacing: 2px;}
.item-hk p{font-size:18px;color:#506f9e;letter-spacing: 1px;margin: 3% 0;}
.item-hk a{text-decoration: none;display: inline-block;width:140px;height:40px;border:1px solid #506f9e;margin: 0 3%;line-height:40px;color:#506f9e;letter-spacing: 1px;}
.item-hk .it-aer{background-color:#506f9e;border:0;color:#fff;}

input:-webkit-autofill { box-shadow: 0 0 0px 1000px #f1f1f1 inset !important;}
input:-moz-placeholder { box-shadow: 0 0 0px 1000px #f1f1f1 inset !important;}
input:-moz-placeholder { box-shadow: 0 0 0px 1000px #f1f1f1 inset !important;}
input:-ms-input-placeholder { box-shadow: 0 0 0px 1000px #f1f1f1 inset !important;}
input{outline:none;}


.box6{width: 80%;overflow: hidden;margin: 0 auto;margin-top: 8%;}
.box6 .box6left{width: 34%;overflow: hidden; float: left;}
.box6 .box6left .box6lftcen{text-align: right;line-height: 35px;color: #555555;}
.box6 .box6left .box6lftcen img{height: 35px;}
.box6 .box6rig{width: 60%;overflow: hidden; float: left;height: 40px;line-height: 40px;}
.box6 .box6rig .box6rigcen{overflow: hidden;margin-left: 20px;}
.box6 .box6rig .box6rigcen p{font-size: 16px;font-weight: bold;}
.hd_img{width:80px;height:80px;border-radius:50%;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-3 p .slou{color:#00a100;float:left;}


 .post{position: relative;}
 .dipos{display: none; position: absolute;top: 0;left: 2%;z-index: 9999;height: auto;width: 400px;background-color: #FFFFFF;}
 .dipos ul{list-style: none;overflow: hidden;box-shadow: 0px 6px 20px #EEEEEE;}
 .dipos ul li{width: 100%;height: 40px;line-height: 40px;background-color: #FFFFFF;cursor: pointer;}
 .dipos ul li .li_div{width: 25%;text-align: center;float: left;}
 .dipos ul li:first-child:hover{background-color:#fff;}
 .dipos ul li:hover{background-color: #fff3e9;}

.tz{cursor: pointer;display: inline-block;font-size: 16px;color: #888;text-decoration: none;}
#tz{display:  inline-block;font-size:  16px;color:  #888;text-decoration:  none;cursor: pointer;}