@charset "utf-8";
*{margin: 0;padding: 0;}
html{height: 100%;}
body{height: 100%;}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: .8rem;
    color: #FFFFFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: .8rem;
    color: #FFFFFF;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: .8rem;
    color: #FFFFFF;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: .8rem;
    color: #FFFFFF;
}
header{background-color:#777777;overflow: hidden;position: relative;}
header .marin{position: relative;}
header .marin .searchbar{position: relative;}
header .marin .search-input input{background: transparent;border-radius: 25px;color: #FFFFFF;border: none;}
header .marin .search-input .icon{color: #FFFFFF;}
.xial{display: none; width: 100%; height: 100%;position: absolute;background-color: #FFFFFF;}
.xial ul{list-style: none;overflow: hidden;}
.xial ul li{border-bottom: 1px solid #ddd;padding: 10px 20px;}
header .marin .row .col-80ch{position: relative; width: 85%;background-color: rgba(211,211,211,0.4);border-radius: 35px;margin-left: 5%;}
header .marin .row .col-20ch{width:7%;margin-left: 1%;background: transparent;}
header .marin .row .auto_hidden{position: absolute;width: 100%;background-color: #000000;height: 200px;}


.col_hd_1{top:unset;bottom:unset;position:unset;}
.col_hd_1 .bg{background-color: #FFFFFF;margin: .5rem 0;margin-bottom: 0;}
.col_hd_1 .bg .row .col-1{width: 100%;}
.col_hd_1 .bg .row .col-1 h2{font-weight: normal;color: #888888;margin: 4%;margin-left: 4%;}
.col_hd_1 .bg .row .col-1 .col-33{float: left;height:200px;width: 200px; border: 1px solid #888;margin-left: 4%;margin-bottom: 5%;  border-radius: 10px;}


.col_hd_2{top:unset;bottom:unset;position:unset;}
.col_hd_2 .bg{background-color: #FFFFFF;margin: 2rem 0;}
.col_hd_2 .bg .row .col-1{width: 100%;}
.col_hd_2 .bg .row .col-1 h2{font-weight: normal;color: #888888;margin: 2%;margin-left: 4%;}
.col_hd_2 .bg .row .col-1 .col-33{float: left;height:200px;width: 200px; border: 1px solid #888;margin-left: 4%;margin-bottom: 7%;  border-radius: 10px;}


.ind2{padding: 1.3rem;font-weight: normal;}
.ind2 .row3{margin-top: 6%;}
.ind2 .row3 p{font-weight: normal;}




