@charset "utf-8";
*{font-family:'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif'!important;}
.active{background-color: #ed5551;color: #ffffff;}

section{overflow: hidden;}
section .main{background-color: #f5f5f5;}
section .main .container .col-md-12{margin: 5% auto;}
section .main .container .col-md-12 .col-md-3{height: 660px;padding: 0; width: 23%;margin-right: 2%; background-color: #ffffff;border-top: 2px solid crimson;overflow: hidden;text-align: center;}
section .main .container .col-md-12 .col-md-3 .col-box{margin-top: 20%;}
section .main .container .col-md-12 .col-md-3 .col-box p{margin: 5% auto; }
section .main .container .col-md-12 .col-md-3 .col-box p span{font-size: 12px;}
section .main .container .col-md-12 .col-md-3 .col-box p .xig{cursor: pointer;margin-left: 5px;}
section .main .container .col-md-12 .col-md-3 .col-footr{margin-top: 2%;margin-bottom: 10%;}
section .main .container .col-md-12 .col-md-3 .col-footr a{font-size: 14px; transition: all .3s ease-in-out; display: block;width: 100%;text-decoration: none;padding: 15px 0;margin-top: 1%;}
section .main .container .col-md-12 .col-md-3 .col-footr a:first-child{border-top: 1px solid #dddddd;}
section .main .container .col-md-12 .col-md-3 .col-footr a:hover{background-color: #ed5551;color: #ffffff;}

section .main .container .col-md-12 .col-md-9{height: 660px;background-color: #ffffff;border-top: 2px solid crimson;padding: 0;}
section .main .container .col-md-12 .col-md-9 .col-top{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-top p a{ font-size: 16px;margin-top: 3%; display: block;float: left;margin-right: 3%;text-decoration: none;color:#555;}

section .main .container .col-md-12 .col-md-9 .col-cen .col-md-12{margin: 20% auto;margin-bottom: 34%;display:none;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-hb{display:block;width: 90%;margin: 0 auto;overflow: hidden;margin-top: 5%;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-hb .hb-card{width:322px;height:140px;float:left;border:1px solid #e2e2e2;border-top:2px solid #fc5146;cursor:pointer;padding:20px 0;overflow:hidden;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-hb .hb-card .hb-left{float:left;width:148px;border-right: 1px dashed #bcbcbc;height: 95px;line-height: 95px;color: #fc5146;text-align: center;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-hb .hb-card .hb-left .amount{font-size:40px;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-hb .hb-card .hb-left .back{font-size:30px;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-hb .hb-card .hb-righ{float:left;padding:6px 20px;color:#999;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-hb .hb-card .hb-righ .title{font-size:20px;color:#666;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-hb .hb-card .hb-righ .desc{color:#888;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-hb .hb-card .hb-righ .date{color:#888;}
section .main .container .col-md-12 .col-md-9 .col-cen .colp1{display:block;text-align:right;margin:3% 0;}
section .main .container .col-md-12 .col-md-9 .col-cen .colp1 .row .pagination{margin-right:5%;}
section .main .container .col-md-12 .col-md-9 .col-cen .colp1 .row .pagination li a{color:#999999;padding:10px 14px;transition:all .3s ease-in-out;}
section .main .container .col-md-12 .col-md-9 .col-cen .colp1 .row .pagination li a:hover{background-color:#ed5551;color:#fff;border:1px solid #ed5551;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-12 p{color: #888888;font-size: 16px;}
