@charset "utf-8";
*{margin: 0;padding: 0;}
.box{margin: 0 auto;width: 70%;
    overflow: hidden;}


.box .shouj{overflow: hidden;width: 100%;}
.box .shouj span{display: block;float: left;margin: 10% 0;font-size: 16px;color: #888888;font-weight: bold;}
.box .shouj .sj{letter-spacing: 7px;font-weight: bold;color: #555555;}
.box .shouj .fasong{transition: all .3s ease-in-out; cursor: pointer;padding: 10px 30px;float: right;background-color: #dddddd;font-size: 14px;color: #888888;margin: 8% 0;border-radius: 10px;}
.box .shouj .fasong:hover{background-color: #4b7abd;color: #ffffff;}
.box .yanz .wenz1 i{margin-right: 5px; color: #ed5551;line-height: 40px;}
.box .yanz .wenz1{font-size: 16px;color: #555;}
.box .yanz  input{outline:none;float: right; background-color: transparent;border: 1px solid #ddd;height: 40px;border-radius: 10px;width: 75%;padding-left: 10px;color: #555;}
.box .yanz  input::-webkit-input-placeholder { color: #aaa;letter-spacing: 1px;}

.box .xinmima{width: 100%;overflow: hidden;margin: 20px 0; overflow: hidden;}
.box .xinmima .wenz1 i{margin-right: 5px; color: #ed5551;}
.box .xinmima .wenz1{font-size: 16px;color: #555;letter-spacing: 7.5px;line-height: 40px;}
.box .xinmima  input{outline:none;float: right; background-color: transparent;border: 1px solid #ddd;height: 40px;border-radius: 10px;width: 75%;padding-left: 10px;color: #555;}
.box .xinmima  input::-webkit-input-placeholder { color: #aaa;letter-spacing: 1px;}

.box .mima{width: 100%;overflow: hidden;margin: 20px 0;overflow: hidden;}
.box .mima .wenz1 i{margin-right: 5px; color: #ed5551;}
.box .mima .wenz1{font-size: 16px;color: #555;letter-spacing: 3px;line-height: 40px;}
.box .mima  input{outline:none;float: right; background-color: transparent;border: 1px solid #ddd;height: 40px;border-radius: 10px;width: 75%;padding-left: 10px;color: #555;}
.box .suy{margin: 10% 0;margin-top: 5%;cursor: pointer; outline:none;width: 100%;background-color: #ed5551;font-size: 18px;border: none;border-radius: 10px;color: #ffffff;padding: 10px;}
.box .mima  input::-webkit-input-placeholder { color: #aaa;letter-spacing: 1px;}

.box .mima2{width: 100%;overflow: hidden;margin: 20px 0;overflow: hidden;}
.box .mima2 .wenz1 i{ color: #ed5551;}
.box .mima2 .wenz1{font-size: 16px;color: #555555;letter-spacing: 1px;line-height: 40px;}
.box .mima2  input{outline:none;float: right; background-color: transparent;border: 1px solid #ddd;height: 40px;border-radius: 10px;width: 75%;padding-left: 10px;color: #555;}
.box .suy{margin: 10% 0;margin-top: 5%;cursor: pointer; outline:none;width: 100%;background-color: #ed5551;font-size: 18px;border: none;border-radius: 10px;color: #ffffff;padding: 10px;}
.box .mima2  input::-webkit-input-placeholder { color: #aaa;letter-spacing: 1px;}

.box2{width: 90%;margin: 0 auto;text-align: center;overflow: hidden;}
.box2 .xinmi{overflow: hidden;width: 100%;margin: 7% 0;}
.box2 .xinmi .bit{color: #ed5551;}
.box2 .xinmi span{color: #555555;font-weight: bold;font-size: 14px;letter-spacing: 4px;}
.box2 .xinmi input{outline:none;width: 76%;background: transparent;border-radius: 10px;padding-left: 10px;height:40px;border: 1px solid #dddddd;}

.box2 .suy{outline:none;margin: 10% 0;margin-top: 2%;cursor: pointer; outline:none;width: 100%;background-color: #ed5551;font-size: 18px;border: none;border-radius: 10px;color: #ffffff;padding: 10px;}

.box3{width: 80%;margin: 0 auto;text-align: center;overflow: hidden;}
.box3 .nich{overflow: hidden;margin: 5%;text-align: left;margin-top: 7%;}
.box3 .nich i{color: #d43f3a;margin: 10px;}
.box3 .nich span{font-size: 16px;color: #555555;letter-spacing: 1px;}
.box3 .nich input{outline:none;border: 1px solid #dddddd;height: 35px;border-radius: 10px;padding-left: 10px;width:76%;margin-left:1%;}
.box3 .suy{outline:none;cursor: pointer; background-color:#ed5551;color: #ffffff;font-size: 14px;width: 84%;margin-top:5%;height: 40px;border: none;border-radius: 10px;margin-left: 5%; }

.box4 .mi{font-size: 16px;color: #555555;width: 90%;margin: 5% auto;}
.box4 .mi span{color: #888888;}
.box4 .col-mi{width: 80%;margin: 0 auto;}
.box4 .col-mi .sp2{width: 80%;margin: 5% auto;font-size: 14px;color: #555555;}
.box4 .col-mi .sp2 span a{color: #4b7abd;margin-left: 4%;margin-bottom: 3%;cursor: pointer;}
.box4 .col-mi .col-mio{width:80%;margin: 2% auto;}
.box4 .col-mi .col-mio input{width: 70%;border: 1px solid #dddddd;height: 30px;border-radius: 5px;background-color: transparent;padding-left: 10px;}
.box4 .col-mi .col-mio span{float: left;display: block;margin:1% 2% 0 0;color: #555555;}
.box4 .col-mi .col-mio .hos{color: #ff6c63;margin:0 2%;}
.box4 .col-mi .suy{width: 80%;margin: 5% auto;text-align: center;}
.box4 .col-mi .suy .suyr{background-color: #ff6c63;border: none;height: 35px;width: 90%;border-radius: 7px;color: #ffffff;font-size: 14px;letter-spacing: 7px;}

.success{text-align: center;color: green;}

.box5{width: 80%;height: 100%; margin: 0 auto;text-align: center;overflow: hidden;}
.box5 .max-box{width: 200px;height:200px;margin: 0 auto;border: 1px solid #dddddd;margin-top: 5%;}
.box5 .suy{outline:none;width: 42%;background-color: #ff6c63;border: none;height: 35px;border-radius: 10px;color: #ffffff;font-size: 14px;letter-spacing: 10px;margin: 0 auto;margin-top: 5%;}

.box6{width: 80%;overflow: hidden;margin: 0 auto;margin-top: 8%;}
.box6 .box6left{width: 38%;overflow: hidden; float: left;}
.box6 .box6left .box6lftcen{text-align: right;line-height: 35px;color: #555555;}
.box6 .box6left .box6lftcen img{height: 35px;}
.box6 .box6rig{width: 60%;overflow: hidden; float: left;height: 40px;line-height: 40px;}
.box6 .box6rig .box6rigcen{overflow: hidden;margin-left: 20px;}
.box6 .box6rig .box6rigcen p{font-size: 16px;font-weight: bold;}

.box7{width: 80%;height: 150px;overflow: hidden;margin: 0 auto;}
.box7 .box6rig .box6rigcen p{text-align: center;margin-top: 10%;font-size: 14px;}
.box7 .box6rig .box6rigcen p img{margin-top: -5px;margin-right: 20px;}

.layui-layer-title{font-weight:bold;}

.box8{margin: 0 auto;overflow: hidden;float:left;}
.box8 .container{width: 100%;}
.box8 .container .row{border: 1px solid #EEEEEE;border-radius: 5px;margin-top: 4%;padding: 3px;margin-bottom: 10px;}
.box8 .container .row .col-md-5{padding:0;height: 40px;line-height: 40px;text-align: center;}
.box8 .container .row .col-md-4 p{margin: 0;text-align: center;}
.box8 .container .row .hd-o4{padding:0;height: 40px;line-height: 40px;font-size: 14px;color: #333333;}
.box8 .container .row .col-md-3{padding:0;height: 40px;line-height: 40px;}
.box8 .container .row .col-md-3 a{transition: all .3s ease-in-out; text-decoration: none;display: block;height: 30px;border-radius: 5px;text-align: center;margin-top: 5px; line-height:30px;width:50%;background-color: #D9534F;color: #FFFFFF;margin: 0 auto;}
.box8 .container .row .col-md-3 a:hover{background-color: #000000;color: #FFFFFF;}
.box9{width:90%;margin:0 auto;}
.box9 .col-md-3{margin:3% 0;}
.box9 .col-md-3  a{text-decoration: none;transition:all .3s ease--in-out; color:#fff;width:60px;height:30px;line-height:30px;background-color:#e94848;display:inline-block;border-radius:4px;margin-top:-10px;}
.box9 .col-md-3  a:hover{background-color:#d05656;]
