@charset "utf-8";

*{font-family: "微软雅黑";}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #bbbbbb;
    letter-spacing:2px;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #bbbbbb;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #bbbbbb;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #bbbbbb;
}


.mian{overflow: hidden;background-color: #eeeeee;}


.mian .container .logoin{width: 33%;float: right; margin: 10% 0;text-align: center;background: #ffffff;}
.mian .container .logoin h1{color: #ed5551;margin:10% 0;letter-spacing: 10px;font-size: 26px; }
.mian .container{background-image: url("../image/denglu/banner.png");background-repeat: no-repeat;background-position: 10%;}
.mian .container .logoin input{width: 75%;height: 40px;background-color: transparent;border: none;}
.mian .container .logoin .denlu{ width: 80%;margin: 10% auto;position: relative;background-color: #f1f1f1; border-radius: 10px;border: none;margin-bottom: 5%;}
.mian .container .logoin .denlu span{margin-right: 2%;padding: 0 10px;}
.mian .container .logoin .denlu input{outline:none;font-size: 16px;}
.mian .container .logoin .denlu .tishi{transition:all .3s ease-in-out; position: absolute;top:-90px;z-index:-9; width:243px;height:95px;background-image:url("../image/zhuce/tstop.png");right:0;opacity: 0;line-height:75px;color:#ff6c63;}

.mian .container .logoin .mima{width: 80%;margin: 4% auto;background-color: #f1f1f1;border-radius: 10px;border: none;position: relative;}
.mian .container .logoin .mima span{margin-right: 2%;padding: 0 10px;}
.mian .container .logoin .mima input{outline:none;font-size: 16px;}
.mian .container .logoin .mima .tibom{transition:all .3s ease-in-out;line-height: 120px;color:#ff6c63; position: absolute;bottom:-90px;width:243px;height:95px;background-image:url("../image/zhuce/tsbom.png");right:0;opacity: 0;z-index:-9;}
.mian .container .logoin .suy{margin-top: 7%;background-color:#ff6c63;color: #ffffff;font-size: 14px;width: 80%; letter-spacing: 10px;border-radius: 10px;margin-bottom: 5%;}
.mian .container .logoin input:focus{border: none;box-shadow:none;}
.mian .container .logoin .yanq{width: 80%;margin: 4% auto;background-color: #f1f1f1;border-radius: 10px;border: none;position: relative;}
.mian .container .logoin .yanq span{margin-right: 2%;padding: 0 10px;}
.mian .container .logoin .yanq input{outline:none;font-size: 16px;}
.mian .container .logoin .yanq .tibom{transition:all .3s ease-in-out;line-height: 120px;color:#ff6c63; position: absolute;bottom:-90px;width:243px;height:95px;background-image:url("../image/zhuce/tsbom.png");right:0;opacity: 0;z-index:-9;}


.mian .container .logoin .yzm{width: 80%;margin: 4% auto;background-color: #f1f1f1;border-radius: 10px;border: none;margin-bottom: 5%;position:relative;}
.mian .container .logoin .yzm span{margin-right: 2%;padding: 0 10px;}
.mian .container .logoin .yzm input{outline:none;width: 42%;font-size: 16px;}
.mian .container .logoin .yzm .huoqu{margin: 0 1%;border: #ed5551;border-left: 1px solid #bbbbbb; padding: 0 10px;font-size: 14px; color:#de1010; cursor: pointer;display:inline-block;width: 91px;}
.mian .container .logoin .yzm .titop{transition:all .3s ease-in-out;line-height: 75px;color:#ff6c63; position: absolute;top:-90px;width:243px;height:95px;background-image:url("../image/zhuce/tstop.png");right:0;opacity: 0;z-index:-9;}

.mian .container .logoin .xiy{width: 80%;margin:0 auto;border: none;text-align:left;position:relative;}
.mian .container .logoin .xiy input{width:15px;height:15px;float: left; margin-top:0; -webkit-appearance: none;border:1px solid #ddd;border-radius: 3px;position: relative;outline:none;}
.mian .container .logoin .xiy input[type="checkbox"]:checked { background: #3190e8;}
.mian .container .logoin .xiy input[type="checkbox"]:checked::after{content: '';top: 2px;left: 2px; position: absolute;background: transparent;border: #fff solid 2px;border-top: none; border-right: none; height: 6px;    width: 10px;    -moz-transform: rotate(-45deg);    -ms-transform: rotate(-45deg);    -webkit-transform: rotate(-45deg);     transform: rotate(-45deg);}
.mian .container .logoin .xiy .olk{display:block;float:left;font-size:12px;color:#555;}
.mian .container .logoin .xiy .olk2 a{text-decoration: none;font-size:12px;color:#2780c1;float:left;}
.mian .container .logoin .xiy .tip4{transition:all .3s ease-in-out; position: absolute;top:-90px;z-index:-9; width:243px;text-align: center;height:95px;background-image:url("../image/zhuce/tstop.png");right:0;opacity: 0;line-height:75px;color:#ff6c63;}
