@charset "utf-8";
*{font-family:'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif'!important;}
.active{background-color: #ed5551;color: #ffffff;}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #cccccc;
   font-size: 12px;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #cccccc;
    font-size: 12px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #cccccc;
    font-size: 12px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #cccccc;
    font-size: 12px;
}
input:-webkit-autofill { box-shadow: 0 0 0px 1000px #fff inset !important;}
input:-moz-placeholder { box-shadow: 0 0 0px 1000px #fff inset !important;}
input:-moz-placeholder { box-shadow: 0 0 0px 1000px #fff inset !important;}
input:-ms-input-placeholder { box-shadow: 0 0 0px 1000px #fff inset !important;}
input{outline:none;}


section{overflow: hidden;}
section .main{background-color: #f5f5f5;}
section .main .container .col-md-12{margin: 5% auto;}
section .main .container .col-md-12 .col-md-3{height: 660px; padding: 0; width: 23%;margin-right: 2%; background-color: #ffffff;border-top: 2px solid crimson;overflow: hidden;text-align: center;}
section .main .container .col-md-12 .col-md-3 .col-box{margin-top: 20%;}
section .main .container .col-md-12 .col-md-3 .col-box p{margin: 5% auto; }
section .main .container .col-md-12 .col-md-3 .col-box p span{font-size: 12px;}
section .main .container .col-md-12 .col-md-3 .col-box p .xig{cursor: pointer;margin-left: 5px;}
section .main .container .col-md-12 .col-md-3 .col-footr{margin-top: 2%;margin-bottom: 10%;}
section .main .container .col-md-12 .col-md-3 .col-footr a{font-size: 14px; transition: all .3s ease-in-out; display: block;width: 100%;text-decoration: none;padding: 15px 0;margin-top: 1%;}
section .main .container .col-md-12 .col-md-3 .col-footr a:first-child{border-top: 1px solid #dddddd;}
section .main .container .col-md-12 .col-md-3 .col-footr a:hover{background-color: #ed5551;color: #ffffff;}

section .main .container .col-md-12 .col-md-9{background-color: #ffffff;border-top: 2px solid crimson;padding: 0;height: 660px}
section .main .container .col-md-12 .col-md-9 .col-top{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;}

section .main .container .col-md-12 .col-md-9 .col-top p{overflow: hidden;margin: 0;}
section .main .container .col-md-12 .col-md-9 .top2{overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-top p a{color: #555555; font-size: 16px;margin-top: 3%; display: block;float: left;margin-right: 5%;text-decoration: none;}
section .main .container .col-md-12 .col-md-9 .col-top p .active2{border-bottom: 3px solid #ff6c63;padding-bottom: 10px;}
section .main .container .col-md-12 .col-md-9 .col-top p a:first-child{margin-left: 0;}
section .main .container .col-md-12 .col-md-9 .col-top p .tixi{border-bottom: 2px solid #d43f3a;padding-bottom: 10px;}

section .main .container .col-md-12 .col-md-9 .col-cen{overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .cen2{margin:0;}
section .main .container .col-md-12 .col-md-9 .cen2 .col-md-12{margin-top:0;}
section .main .container .col-md-12 .col-md-9 .con-cen-top{overflow: hidden;}

section .main .container .col-md-12 .col-md-9 .ant-table-placeholder{text-align: center;font-size: 16px;color:#888;margin-top:20%;}


section .main .container .cen2 .col-md-12{padding: 0;overflow: hidden;margin-bottom: 0;}
section .main .container .cen2 .cen2-box{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;}
section .main .container .cen2 .cen2-box .md2{float: left;width: 20%;text-align: center;font-size: 14px;color: #888888;margin: 3% 0 3% 0;}
section .main .container .cen2 .cen2-box .con-cen{width: 100%;margin: 0 auto;}
section .main .container .con-cen{overflow: hidden;width: 90%;margin: 0 auto;border-bottom:1px solid #ddd;}
section .main .container .co2{border-bottom:0;}
section .main .container .con-cen p{margin-top: 10%;text-align: center;font-size: 18px;color: #888888;}
section .main .container .con-cen .md2{float: left;width: 20%;text-align: center;font-size: 12px;color: #555555;margin: 2% 0;}
section .main .container .con-cen .sj{color: #1E9FFF;}
section .main .container .con-cen .jx{color: #fc5146;}
section .main .container .con-cen .hui{color: #100a0a;}
section .main .container .huis{background-color: #f9f7f7;}
section .main .container .con-cen-botom{text-align: right;width: 90%;margin: 0 auto;}
section .main .container .con-cen-botom .pagination li a{transition: all ease-in-out .3s; color: #999999;}
section .main .container .con-cen-botom .pagination li .active{background-color: #fc5146;color: #ffffff;}
section .main .container .con-cen-botom .pagination li a:hover{background-color: #fc5146;color: #ffffff;}


section .main .container .col-md-12 .col-md-9 .col-cen2{margin: 5%;}
section .main .container .col-md-12 .col-md-9 .col-cen2 span{margin: 0 10px;letter-spacing: 10px;font-size:14px;color: #555555; }
section .main .container .col-md-12 .col-md-9 .col-cen2 input{outline:none;height: 35px;width: 42%;border-radius: 10px;border: 1px solid #dddddd;padding-left: 10px;margin-right: 10px;}

section .main .container .col-md-12 .col-md-9 .col-cen3{margin: 5%;}
section .main .container .col-md-12 .col-md-9 .col-cen3 span{margin: 0 10px;letter-spacing: 10px;font-size: 14px;color: #555555;}
section .main .container .col-md-12 .col-md-9 .col-cen3 input{outline:none;height: 40px;width: 50%;border-radius: 10px;border: 1px solid #dddddd;padding-left: 10px;}
section .main .container .col-md-12 .col-md-9 .col-cen3 .lian{cursor: pointer; margin-left: 0;border: 1px solid #f53434;padding: 10px 20px;border-radius: 10px;}
section .main .container .col-md-12 .col-md-9 .col-cen3 .kuaijie{cursor: pointer; margin-left: 4.5%;border: 1px solid #dddddd;padding: 10px 20px;border-radius: 10px;}

section .main .container .col-md-12 .col-md-9 .col-cen4{margin: 5%;}
section .main .container .col-md-12 .col-md-9 .col-cen4 span{margin: 0 7px;letter-spacing: 7px;font-size: 14px;color: #555555;}
section .main .container .col-md-12 .col-md-9 .col-cen4 span i{color: #d43f3a;}
section .main .container .col-md-12 .col-md-9 .col-cen4 input{outline:none;height: 40px;width:42%;border-radius: 10px;border: 1px solid #dddddd;padding-left: 10px;margin-left: 6px;}
section .main .container .col-md-12 .col-md-9 .c4{margin-bottom: 2%;}
section .main .container .col-md-12 .col-md-9 .col-cen .suy{letter-spacing: 10px;font-size: 18px; width: 60%;border: none;background-color: #ed5551;color: #ffffff;margin-left: 6%;margin-top: 4%; border-radius: 10px;height: 40px;}

section .main .container .col-md-12 .col-md-9 .col-cen2{width: 90%;margin: 0 auto;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-cen2 .col-md-3{width: 17%;height: auto;margin-right: 0;margin-top: 5%;border: none;overflow: hidden;text-align: left;}
section .main .container .col-md-12 .col-md-9 .col-cen2 .col-md-3 p{margin-bottom:40%;margin-left: 10%;font-size: 14px;margin-top: 5%;}
section .main .container .col-md-12 .col-md-9 .hd-pick{width:90%;margin:0 auto;}



section .main .container .col-md-12 .col-md-9 .col-cen{display: block;margin: 0 auto;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-3{width: 15%;margin-right: 2%; border: none;height: auto;margin: 0;margin-top: 7%;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-3 .md3-p1{color: #555555;font-size: 14px;letter-spacing: 6px;margin-top: 5%;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-3 .md3-p2{letter-spacing: 2px;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-3 .md3-p3{margin-bottom: 66%;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-3 .md3-p4{margin-bottom: 0;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-3 p{letter-spacing: 1px; margin-bottom: 0; text-align: right;font-size: 14px;color: #333333;margin-bottom: 50%;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-3 p span{color: #D43F3A;}

section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9{border: none;height: auto;margin: 0;margin-top: 7%;margin-left: 1%;width: 83%;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po1{width: 50%;overflow: hidden;margin-bottom: 7.6%;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po1 input{padding-left: 10px; width: 100%;height: 35px;border: 1px solid #DDDDDD;border-radius: 5px;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po1 .oea1{color: #f5716d;float: left;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po2{overflow: hidden;margin-bottom: 6%;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po2 p{color: #f5716d;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po2 p span{color:#333;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po3{overflow: hidden;margin-bottom: 5.5%;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po3 p{margin-bottom: 5px;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po3 p input{padding-left:10px;width: 50%;height: 35px;border: 1px solid #DDDDDD;border-radius: 5px;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po3 span{margin-left: 2%;color: #888888;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po4 p{margin-bottom: 5px;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po4 p input{padding-left:10px;width: 50%;height: 35px;border: 1px solid #DDDDDD;border-radius: 5px;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po4 span{margin-left: 2%;color: #888888;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-9 .po4 span a{text-decoration: none;color: #1E9FFF;font-size: 14px;}
section .main .container .col-md-12 .col-md-9 .col-cen .suy{width: 51.5%;height: 40px;border: none;border-radius: 7px;color: #FFFFFF;margin-top: 5%;margin-left: 6%; background-color: #ff6c63;letter-spacing:2px;font-size:16px;}

section .main .container .col-md-12 .col-md-9 .col-rc{margin-top:5%;}

section .main .container .col-md-12 .col-md-9 .col-cenr2{display: block; width: 90%;margin: 0 auto;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-3{width: 15%;margin-right: 2%; border: none;height: auto;margin: 0;margin-top: 10%;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-3 .md3-p1{margin-top: 6%;color: #555555;font-size: 14px;letter-spacing: 6px;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-3 .md3-p2{letter-spacing: 2px;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-3 .md3-p3{margin-bottom: 66%;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-3 .md3-p4{margin-bottom: 0;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-3 p{letter-spacing: 1px; margin-bottom: 0; text-align: right;font-size: 14px;color: #333333;margin-bottom: 50%;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-3 p span{color: #D43F3A;}

section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9{border: none;height: auto;margin: 0;margin-top: 10%;margin-left: 1%;width: 83%;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po1{width: 50%;overflow: hidden;margin-bottom: 4%;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po1 .po1-box{width: 100%;height: 35px;border: 1px solid #DDDDDD;border-radius: 7px;margin-bottom: 5px;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po1 .po1-box .po1-box-left{width: 50%;height:35px;float:left;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po1 .po1-box .po1-box-rigt{width:50%;height:35px;float:left;overflow: hidden;line-height:35px;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po1 .po1-box .po1-box-left img{height:35px;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po1 a{text-decoration: none;margin-left: 5%;color: #1E9FFF;font-size: 12px;float: left;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po1 .oea1{color: #f5716d;float: left;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po2{overflow: hidden;margin-bottom: 7.9%;margin-top: 7%;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po2 a{color: #f5716d;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po3{overflow: hidden;margin-bottom: 5.5%;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po3 p{margin-bottom: 5px;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po3 p input{padding-left:10px;width: 50%;height: 35px;border: 1px solid #DDDDDD;border-radius: 5px;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po3 span{font-size: 12px;margin-left: 2%;color: #888888;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po4 p{margin-bottom: 5px;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po4 p input{padding-left:10px;width: 50%;height: 35px;border: 1px solid #DDDDDD;border-radius: 5px;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po4 span{font-size: 12px;margin-left: 2%;color: #888888;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .col-md-9 .po4 span a{text-decoration: none;color: #1E9FFF;font-size: 12px;}
section .main .container .col-md-12 .col-md-9 .col-cenr2 .suy{width: 51.5%;height: 40px;border: none;border-radius: 7px;color: #FFFFFF;margin-top: 5%;margin-left: 6%; background-color: #ea7672;}

#sxf{margin:0;}
